.App {
  text-align: center;
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: row;
}

.sidebar {
  width: 30vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  min-width: 260px;
  border-right: 1px solid #E0E0E0;
}

.chat-section {
  width: 70vw;
  height: 100vh;
  background-color: #F7F9FA;
  display: flex;
  flex-direction: column;
  min-width: 650px;
}

.left-header {
  background-color: #EEEEEE;
  height: 8vh;
}

.right-header {
  background-color: #E0EEEE;
  height: 8vh;
}

.sidebar-search {
  background-color: #F8F8F8;
  height: 6vh;
}

#sidebar-search-box {
  width: 28vw;
  height: 4vh;
  background-color: #FFFFFF;
  border-radius: 18px;
  margin-top: 7px;
  border: none;
  min-width: 240px;
}