.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: row;
  font-family: 'Poppins';
  box-sizing: border-box;
  overflow-x: scroll;
}

.sidebar {
  width: 30vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  min-width: 260px;
  border-right: 1px solid #E0E0E0;
}

.chat-section {
  width: 70vw;
  height: 100vh;
  background-color: #F7F9FA;
  display: flex;
  flex-direction: column;
  min-width: 650px;
}

.left-header {
  background-color: #EEEEEE;
  height: 8vh;
}

.right-header {
  background-color: #E0EEEE;
  height: 8vh;
}

.sidebar-search {
  background-color: #F8F8F8;
  height: 6vh;
  display: flex;
  flex-direction: row;
  border-bottom: 0.1px solid rgba(75, 75, 75, 0.3);
  transition: box-shadow 0.18s ease-out, background-color 0.25s ease-out;
}

.sidebar-search-active {
  background-color: #FFFFFF;
  height: 6vh;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.18s ease-out, background-color 0.25s ease-out;
}

.sidebar-search-inner {
  width: 28vw;
  height: 5vh;
  background-color: #FFFFFF;
  border-radius: 18px;
  margin-top: 3px;
  border: none;
  min-width: 240px;
  outline: none;
  margin-left: 12px;
  padding: 0px;
}

#sidebar-search-box {
  width: 20vw;
  height: 4vh;
  background-color: #FFFFFF;
  border: none;
  border-radius: 20px;
  outline: none;
  margin-top: 3px;
  margin-left: 0px;
  font-size: 15px;
  padding: 0px 10px;
  box-sizing: border-box;
  min-width: 200px;
}

.search-icon {
  width: 20px;
  color: #E8E8E8;
  margin-top: 5px;
  margin-left: 12px;
}

.blue {
  color: rgb(127, 127, 230);
}

.contact {
  height: calc(100vh - 14vh);
  overflow-y: scroll;
}

.contact-card {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 72px;
  font-size: 16px;
  text-overflow: ellipsis;
  font-weight: 500;
  cursor: pointer;
}

.contact-card:hover {
  background-color: #e8fafa;
}

.contact-card-image-container {
  width: 20%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px 0 3px;
}

.contact-card-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-sizing: border-box;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-card-content {
  width: 80%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-right: 15px;
  text-overflow: ellipsis;
  border-bottom: 1px solid #f2f2f2;
}

.contact-title {
  margin-left: 50px;
  font-size: 20px;
  color: gray
}

.hide {
  display: none;
}

.image-text {
  font-size: 26px;
  font-weight: 500;
  color: white;
}

.compose-box {
  height: 70px;
  background-color: #efefef;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.compose-search-box {
  width: 80%;
  background-color: #ffffff;
  border-color: #fff;
  border-radius: 21px;
  border-style: solid;
  border-width: 1px;
  padding: 9px 12px 11px 12px;
  margin: 5px 10px;
  outline: none;
  font-size: 15px;
  font-family: 'Roboto'
}

.btn {
  border: none;
  background-color: #efefef;
  cursor: pointer;
}

.chat-box {
  height: calc(100vh - 8vh - 70px);
  width: 70vw;
  box-sizing: border-box; 
  overflow-y: scroll;
  overflow-x: hidden;
  padding-left: 20px;
  padding-right: 20px; 
  background-color:#EBF5EE;
}

.message-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 2px;
  padding: 5px;
  display: inline-block;
}

.message-content-left {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  font-weight: 400;
  float: left;
}

.message-content-right {
  background-color: #bff595;
  padding: 10px;
  border-radius: 5px;
  font-weight: 400;
  float: right;
}